ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  display: flex;
  background-image: linear-gradient(to bottom, #53b374 4px, transparent 4px),
                    linear-gradient(to bottom, #eee 4px, transparent 4px);
  background-size: 0 4px, 100% 4px;
  background-repeat: no-repeat, repeat-x;
  cursor: pointer;
  transition: background-size 100ms;
  white-space: nowrap;
}
li {
  margin: 4px 0 0;
  padding: 0 4px;
}
li:not(:first-child) {
  border-right: 1px solid #eee;
  text-align: right;
}
li:first-child {
  float: left;
  border-left: 1px solid #eee;
}
